@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.navbar {
  /* Default background */
  background-color: black;
}

.portfolio-bg {
  /* Portfolio background */
  background-color: black;
}

imgx {
  
  image-rendering: crisp-edges;
 
  background-color: #f0f0f0;
}

.playfair_display{
  font-family: var(--font-playfair_display);
}
.Bebas_Neue{
  font-family: var(--font-Bebas_Neue);
}
.Domine{
  font-family: var(--font-Domine);
}
.Montserrat{
  font-family: var(--font-Montserrat);
}
.playfair_displays{
  font-family: var(--font-playfair_displays);
}
.outfit_dispaly{
  font-family: var(--font-outfit);

}
.outfit_dispalys{
  font-family: var(--font-outfits);

}
.open_sans_display{
  font-family: var(--font-open_sans);

}
.container{
    width:100%;
    display:flex;
    align-items:left;
    justify-content:left;
    margin-top:50px;
}
.recap{
  transform:scale(0.55);
  -webkit-transform:scale(0.55);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
.rounds{
  border:1px solid white;
  border-radius: 25px;
  width:180px;
  left:0px;
}
@media screen and (max-width: 640px){
  .recap {
    transform:scale(0.55);
    -webkit-transform:scale(0.55);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
  .rounds{
    border:1px solid white;
    border-radius: 25px;
    width:180px;
    left:0px;
  }
  }
  @media screen and (min-width:641px) and (max-width: 768px){
    .recap {
      transform:scale(0.77);
      -webkit-transform:scale(0.55);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
    }
    .rounds{
      border:1px solid white;
      border-radius: 25px;
      width:180px;
      left:0px;
    }
    }
    @media screen and (min-width:768px) and (max-width: 1024){
      .recap {
        transform:scale(0.44);
        -webkit-transform:scale(0.44);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
      }
      .rounds{
        border:1px solid white;
        border-radius: 25px;
        width:180px;
        left:0px;
      }
      }


.gallery{
    display:flex;
    align-items:center;
    justify-content:center;

}
.img-box{
  width:120px;
  height:350px;
  margin:2px;
  border-radius:30px;
  background-color:black;
  background-size:cover;
  background-position:cover;  
  position:relative;
  transition:width 0.5s;
}
.box{
  width:300px;
  height:350px;
  margin:10px;
  border-radius:30px;
  background-color:black;
  background-size:cover;
  background-position:cover;  
  position:relative;
  transition:width 0.5s;
}
.box:hover{
  width:120px;
  cursor:pointer;
}
.img-box:nth-child(2){
    background-color:black;
    background-size:cover;
  background-position:cover; 
}
.img-box:nth-child(3){
    background-color:black;
    background-size:cover;
  background-position:cover; 
}
.img-box:nth-child(4){
    background-color:black;
    background-size:cover;
  background-position:cover; 
}
.img-box:nth-child(5){
    background-color:black;
    background-size:cover;
  background-position:cover; 
}
.img-box:nth-child(6){
    background-color:black;
    background-size:cover;
  background-position:cover; 
}
.round{
  border:1px solid white;
  border-radius: 25px;
  padding:10px 10px 10px 10px;
  width:200px;
  margin:10px;
}
.head{
  font-size:18px;
}
.img-boxs {
    color:#fff;
    position:absolute;
    
    opacity:0;
    
}
.img-boxs.active{
  opacity:1;
 bottom:50px;
  left:30px;
  right:30px;
  font-size:13px;
}
.img-box:hover{
  width:300px;
  cursor:pointer;
}
.img-boxss {
  color:#fff;
  position:absolute;
  bottom:50px;
    left:30px;
    right:30px;
  opacity:1;
  transition:bottom 0.5s,opacity 0.5s;
  font-size:13px;
}
.img-boxss:hover{
  opacity:0;
  bottom:0;
}


.img-boxs.active{
    opacity:1;
   bottom:50px;
    left:30px;
    right:30px;
    font-size:13px;
}
@media only screen and (max-width: 400px) {
  
    .gallery{
      display:flex;
        align-items:center;
        justify-content:center;
    
    }
    .img-box{
        width:15px;
        height:150px;
        margin:1.5px;
        border-radius:10px;
        background-color:black;
        background-size:cover;
        background-position:cover;  
        position:relative;
        transition:width 0.5s;
      }
     
      .img-boxs {
        color:#fff;
        position:absolute;
        bottom:0;
        left:30px;
        opacity:0;
        font-size:8px;
        transition:bottom 0.5s,opacity 0.5s;
    }
    .img-boxs:hover{
      color:#fff;
      position:absolute;
      bottom:25px;
      left:10px;
      right:10px;
      opacity:1;
      transition:bottom 0.5s,opacity 0.5s;
      font-size:4px;
  }
  .head{
    font-size:6px;
  }
  .round{
    border:1px solid white;
    border-radius: 25px;
   
   
    left:0px;
  }
     .img-box:hover{
        width:80px;
        cursor:pointer;
        font-size:10px;
        
    }
    .img-boxss {
      color:#fff;
      position:absolute;
      bottom:25px;
      left:10px;
      right:10px;
      opacity:1;
      transition:bottom 0.5s,opacity 0.5s;
      font-size:4px;
    }
    .img-boxss:hover{
      opacity:0;
      bottom:0;
    }
    .box{
      width:80px;
      height:150px;
      margin:1.5px;
      border-radius:10px;
      background-color:black;
      background-size:cover;
      background-position:cover;  
      position:relative;
      transition:width 0.5s;
      font-size:4px;
    }
    .box:hover{
      width:15px;
      cursor:pointer;
    }
    
    
  }

 

  @media only screen and (min-width : 1024px) and (max-width: 1280px) {
    .gallery{
        display:flex;
        align-items:center;
        justify-content:center;
    
    }
    .img-box{
        width:80px;
        height:300px;
        margin:1.5px;
        border-radius:15px;
        background-color:black;
        background-size:cover;
        background-position:cover;  
        position:relative;
        transition:width 0.5s;
      }
      .img-box:hover{
        width:200px;
        cursor:pointer;
    }
    .img-boxss {
      color:#fff;
      position:absolute;
      bottom:25px;
      left:30px;
      right:30px;
      opacity:1;
      transition:bottom 0.5s,opacity 0.5s;
    }
    .img-boxss:hover{
      opacity:0;
      bottom:0;
    }
    .box{
      width:200px;
      height:300px;
      margin:1.5px;
      border-radius:15px;
      background-color:black;
      background-size:cover;
      
      background-position:cover;  
      position:relative;
      transition:width 0.5s;
    }
    .box:hover{
      width:80px;
      cursor:pointer;
    }
    .round{
      border:1px solid white;
      border-radius: 25px;
      padding:4px;
    }
    .img-boxs {
      color:#fff;
      position:absolute;
      bottom:0;
      left:30px;
      right:30px;
      opacity:0;
      
     
  }
  .img-boxs:hover{
    color:#fff;
    position:absolute;
    bottom:25px;
    left:30px;
    opacity:1;
    
    
}
  }
.playfair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
 .gallerrys {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  overflow:hidden;
  margin-top:10px;
 }
.containers {
  display:flex;
  align-items:center;
    justify-content:center;
  width:auto;
  margin-top:30px;
}

.panel {
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  height:40vh;
  width:100px;
  border-radius:20px;
  color:#fff;
  cursor:pointer;
  flex:0.5s;
  margin:3px;
  position:relative;
  transition: all 700ms ease-in;
}


.panel.active{
  flex:5;
}

.panel.active .img-boxs{
  opacity:1;
  bottom:50px;
  left:40px;
  right:30px;
  font-size:13px;
  transition:opacity 0.3s  ease-in 0.4s;
}


@media (max-width:430px){
  .containers {
    width:80vw;
    transition:opacity 0.3s ease-in 0.4s;
  }
  .containers {
    display:flex;
    align-items:center;
      justify-content:center;
    width:auto;
    margin-top:30px;
    height:auto;
  }
  
  .panel {
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height:200px;
    width:12px;
    border-radius:10px;
    color:#fff;
    cursor:pointer;
    flex:0.5s;
    margin:2px;
    position:relative;
    transition: all 700ms ease-in;
  }

  .panel.active .img-boxs{
    opacity:1;
    bottom:20px;
    left:5px;
    right:2px;
    font-size:8px;
    transition:opacity 0.3s  ease-in 0.4s;
  }

  .head{
    font-size:10px;
  }
  .round{
    border:1px solid white;
    border-radius: 25px;
    padding:0.5px 0.5px 0.5px 0.5px;
    font-size:8px;
    left:0px;
  }
}


@media only screen and (min-width:430px) and (max-width: 500px) {
  .containers {
    width:80vw;
    transition:opacity 0.3s ease-in 0.4s;
  }
  .containers {
    display:flex;
    align-items:center;
      justify-content:center;
    width:auto;
    margin-top:30px;
    height:auto;
  }
  
  .panel {
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height:180px;
    width:25px;
    border-radius:10px;
    color:#fff;
    cursor:pointer;
    flex:0.5s;
    margin:3px;
    position:relative;
    transition: all 700ms ease-in;
  }

  .panel.active .img-boxs{
    opacity:1;
    bottom:20px;
    left:10px;
    right:10px;
    font-size:8px;
    transition:opacity 0.3s  ease-in 0.4s;
  }
   
     
      .img-boxs {
        color:#fff;
        position:absolute;
        bottom:0;
        left:30px;
        opacity:0;
        font-size:8px;
        transition:bottom 0.5s,opacity 0.5s;
    }
    .img-boxs:hover{
      color:#fff;
      position:absolute;
      bottom:25px;
      left:10px;
      right:10px;
      opacity:1;
      transition:bottom 0.5s,opacity 0.5s;
      font-size:6px;
  }
  .head{
    font-size:10px;
  }
  .round{
    border:1px solid white;
    border-radius: 25px;
    font-size:8px;
   padding:1px 0px 1px 0px ;
    left:0px;
  }
     }
     @media only screen and (min-width:500px) and (max-width: 640px) {
      .containers {
        width:80vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      

      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:160px;
        width:40px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: all 700ms ease-in;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:8px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
       
         
          .img-boxs {
            color:#fff;
            position:absolute;
            bottom:0;
            left:30px;
            opacity:0;
            font-size:8px;
            transition:bottom 0.5s,opacity 0.5s;
        }
        .img-boxs:hover{
          color:#fff;
          position:absolute;
          bottom:25px;
          left:10px;
          right:10px;
          opacity:1;
          transition:bottom 0.5s,opacity 0.5s;
          font-size:6px;
      }
      .head{
        font-size:10px;
      }
      .round{
        border:1px solid white;
        border-radius: 25px;
        font-size:10px;
       padding:1px 1px 1px 1px ;
        left:0px;
      }
         }
    

     @media only screen and (min-width : 640px) and (max-width: 768px) {
      .containers {
        width:80vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:200px;
        width:60px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: all 700ms ease-in;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:10px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
      
      .head{
        font-size:15px;
      }
     
     
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 2px 4px 4px;
        font-size:10px;
      }
      
    
    }

    @media only screen and (min-width : 768px) and (max-width: 900px) {
      
      .containers {
        
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:230px;
        width:50px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: all 700ms ease-in;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:12px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
      
      .head{
        font-size:15px;
      }
      
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 4px 4px 1px;
      }
     
    }

    @media only screen and (min-width : 900px) and (max-width: 1024px) {
      
      .containers {
        
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:230px;
        width:80px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: all 700ms ease-in;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:12px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
      
      .head{
        font-size:15px;
      }
      
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 4px 4px 1px;
      }
     
    }


    @media only screen and (min-width : 1024px) and (max-width: 1240px) {
     
      .containers {
        width:80vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:320px;
        width:80px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: all 700ms ease-in;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:30px;
        left:20px;
        right:20px;
        font-size:13px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
      
      .head{
        font-size:20px;
      }
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:1px 1px 1px 0px;
      }
     
    }


    @media only screen and (min-width : 1240px) and (max-width: 1530px) {
     
      .containers {
        width:70vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
       
        margin-top:30px;
        
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:340px;
        width:110px;
        border-radius:20px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: all 700ms ease-in;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:30px;
        left:20px;
        right:20px;
        font-size:15px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
      
      .head{
        font-size:20px;
      }
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 2px 2px 2px;
      }
     
    }


   



    @keyframes fallIn {
      0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    
    .fall-in {
      animation: fallIn 1s ease forwards;
    }
    
    
    .grow {
      animation: bounceIn 2s;
    }
    @keyframes bounceIn {
      0% {
        transform: scale(0.1);
        opacity: 0;
      }
      60% {
        transform: scale(1.2);
        opacity: 1;
      }
      100% {
        transform: scale(1);
      }
    }

.okomo{
  background: #FD5D5D 0% 0% no-repeat padding-box;
opacity: 1;
}
@media only screen and (min-width:1279px) and (max-width: 1360px) {
.imgco{
  width:240px;
  height:190px;
  margin:auto;
  padding:20px;
}

}
@media only screen and (min-width:1360px) and (max-width: 1530px) {
  .imgco{
    width:250px;
  }
  }
.Indus{
  background-size:cover;
    background-position: center;
  background: transparent url('../public/1indus.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
   .Indus1{
    background:  transparent url('../public/Mobility.png') 0% 0% no-repeat padding-box;
    background-size:cover;
    background-position: center;
   
    opacity: 0.75;
   } 
   .Indus2{
    background:  transparent url('../public/Fintech.png') 0% 0% no-repeat padding-box;
    background-size:cover;
    background-position: center;
    
    opacity: 0.75;
   } 
   .Indus3{
    background:  transparent url('../public/Ecommerce.png') 0% 0% no-repeat padding-box;
    background-size:cover;
    background-position: center;
    
    opacity: 0.75;
   } 
   .Indus4{
    background:  transparent url('../public/Logistics.png') 0% 0% no-repeat padding-box;
    background-size:cover;
    background-position: center;
    
    opacity: 0.75;
   } 
   

   .Indus5{
    background:  transparent url('../public/Education.png') 0% 0% no-repeat padding-box;
    background-size:cover;
    background-position: center;
    opacity: 0.75;
   } 

 .intros{
  background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover; /* Or 'contain' depending on your preference */
  background-position: center;
  background-repeat: no-repeat;
  
 
 
 }
 
 
 .intro1 {
  background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
 }
 .intro2{
  background: transparent url('../public/7intro.png') 0% 0% no-repeat padding-box;
opacity: 1;
 }
 .intro3{
  background: transparent url('../public/8intro.png') 0% 0% no-repeat padding-box;
opacity: 1;
 }
 .intro4{
  background: transparent url('../public/9intro.png') 0% 0% no-repeat padding-box;
opacity: 1;
 }
 
 .logoss{
  background: #8E64F2 0% 0% no-repeat padding-box;

 }
 .logos {
  overflow: hidden;
opacity :100;

}


 .grows{
  background: transparent url('../public/1grow.png') 0% 0% no-repeat padding-box;
opacity: 1;
height:140px;
 }



.logos1 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  gap: 20px;  
  padding: 20px; 
}


@media only screen and (max-width: 480px) {
  .intros{
    background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover; /* Or 'contain' depending on your preference */
    background-position: center ;
    background-repeat: no-repeat;
    
   
   
   }
  .imagex {
    display: inline-block;
    width:80px;
    margin-right: 10px; /* Adjust as needed for spacing */
    transition: transform 0.5s;
  }
  .logoss{
    background: #8E64F2 0% 0% no-repeat padding-box;
    height:110px;
  
   }
  .logos1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 15px;  
    padding: 20px; 
    height:100px;
  }
  .logo {
    flex: 1 1 50px; 
  margin-top:50px;
  height:60px;
  }
  .logo3 {
    flex: 1 1 50px;  
    margin-top:48px;
  height:60px;
  }
  .logo4 {
    flex: 1 1 50px;  
    margin-top:0px;
  height:60px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
  .intros{
    background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover; /* Or 'contain' depending on your preference */
    background-position: center top;
    background-repeat: no-repeat;
    
   
   
   }
  .imagex {
    display: inline-block;
    width:100px;
    
    margin-right: 10px; /* Adjust as needed for spacing */
    transition: transform 0.5s;
  }
  .logoss{
    background: #8E64F2 0% 0% no-repeat padding-box;
    
  
   }
   .logos1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 20px;  
    padding-top: 20px;
   height:120px;
    }
  
  .logo {
    flex: 1 1 50px; 
    height:50px;
  margin-top:55px;
}
.logo Image{
  width:100px;
}
  .logo3 {
    flex: 1 1 50px;
    height:50px;  
    margin-top:50px;
  }
  .logo4 {
    flex: 1 1 50px;  
    margin-top:45px;
    height:50px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 769px) {
  .intros{
    background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover; /* Or 'contain' depending on your preference */
    background-position: center top;
    background-repeat: no-repeat;
    
   
   
   }
     .logos1 {
    justify-content: center;
    height:140px;  
  }
  
  
  .logo {
    flex: 1 1 100px; 
  
  margin-top:60px;
}
  .logo3 {
    flex: 1 1 100px;  
    margin-top:55px;
  }
  .logo4 {
    flex: 1 1 100px;
    margin-top:52px;
  }
}

@media only screen and (min-width: 769px) and  (max-width: 1023px) {
  .intros{
    background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover; /* Or 'contain' depending on your preference */
    background-position: center bottom;
    background-repeat: no-repeat;
    
   
   
   }
  .logos1 {
    justify-content: center;
    height:150px; 
    gap:40px;
  }
  .logo {
    flex: 1 1 100px;  
    height: auto;
    overflow: hidden;
    text-align: center;  
  margin-top:60px;
  }
  .logo3 {
    flex: 1 1 100px;  
    height: auto; 
    overflow: hidden; 
    text-align: center; 
    margin-top:55px;
  }
  .logo4 {
    flex: 1 1 100px; 
    height: auto;  
    overflow: hidden;  
    text-align: center;  
    margin-top:50px;
  }
  }
@media only screen and (min-width: 1024px) and  (max-width: 1240px) {
  .intros{
    background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover; /* Or 'contain' depending on your preference */
    background-position: center bottom;
    background-repeat: no-repeat;
    
   
   
   }
  .logos1 {
    justify-content: center;
     
  }
  .logo {
    flex: 1 1 50px;  
    height: auto;  
    overflow: hidden;  
    text-align: center;  
  margin-top:92px;
  }
  .logo3 {
    flex: 1 1 50px;  
    height: auto;  
    overflow: hidden;  
    text-align: center;  
    margin-top:87px;
  }
  .logo4 {
    flex: 1 1 50px; 
    height: auto; 
    overflow: hidden;  
    text-align: center;  
    margin-top:80px;
  }
  }
  @media only screen and (min-width: 1240px) and  (max-width: 1530px) {
    .intros{
      background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
      opacity: 1;
      background-size: cover; /* Or 'contain' depending on your preference */
      background-position: center;
      background-repeat: no-repeat;
      
     
     
     }
    .logos1 {
      justify-content: center;
        gap:50px;
    }
    .logo {
      flex: 1 1 10px;  
      overflow: hidden;  
      text-align: center;  
    margin-top:102px;
    }
    .logo3 {
      flex: 1 1 10px;  
      overflow: hidden;  
      text-align: center;  
      margin-top:97px;
    }
    .logo4 {
      flex: 1 1 10px;  
      overflow: hidden;  
      text-align: center;  
      margin-top:90px;
    }
    }
  
    @media only screen and (min-width: 1530px)  {
      .intros{
        background: transparent url('../public/intross.png') 0% 0% no-repeat padding-box;
        opacity: 1;
        background-size: cover; /* Or 'contain' depending on your preference */
        background-position: center ;
        background-repeat: no-repeat;
        
       
       
       }
      .logos1 {
        justify-content: center;
          gap:50px;
      }
      .logo {
        flex: 1 1 10px;  
        overflow: hidden;  
        text-align: center;  
      margin-top:102px;
      }
      .logo3 {
        flex: 1 1 10px;  
        overflow: hidden;  
        text-align: center;  
        margin-top:97px;
      }
      .logo4 {
        flex: 1 1 10px;  
        overflow: hidden;  
        text-align: center;  
        margin-top:90px;
      }
      }

     


      /* components/AnimatedImages.module.css */




.fromLeft {
  animation: fromLeft 1s forwards;
}

.fromRight {
  animation: fromRight 1s forwards;
}

.imagex:hover {
  transform: scale(1.1);
}






/* components/Intros.module.css */
.marquee {
  overflow: hidden;
  position: relative;
  
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}


@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
  
  
  0% {
    transform: translateX(100%);
  }

}



.imagex:hover {
  transform: scale(1.1);
}

.imgco:hover >div >div.opacity-0 {
  opacity: 100;
}

/*
.imgx {
  
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.imgl {
  transform: translateX(-100%);
}

.imgr {
  transform: translateX(100%);
}

.imgl.show {
  opacity: 1;
  transform: translateX(0);
}
.imgr.show {
  opacity: 1;
  transform: translateX(0);
}
  */

 


.juggle-button {
   
    
   
    
    
    position: relative;
    animation:  colorChange 2s infinite;
}

@keyframes juggle {
    0%, 100% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes colorChange {
    0%, 100% {
        background: linear-gradient(45deg, rgb(248 113 113), rgb(147 51 234));
    }
    50% {
        background: linear-gradient(45deg, #ff00ff, #ff8000);
    }
}




.imgxx{
  
  object-fit: cover;
  
  transition: opacity 1s, transform 1s;
}

.left {
  transform: translateX(-100%);
}

.right {
  transform: translateX(100%);
}

.animated-image.show{
  opacity: 1;
  transform: translateX(0);
}
.portfolio-bg{
  background-color:black;
}


.popup{
  width:400px;
  background:#fff;
  border-radius:6px;
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding:0 30px 30px;
  color:#333;
  visibility:hidden;
  transition:transform 0.4s, top 0.4s;
}
.open-popup{
  visibility:visible;
  top:50%;
  transform:translate(-50%,-50%) scale(1);

}

.popup img{
  width:100px;
  margin-top:-50px;
  margin-left:80px;
  border-radius:50px;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.popup h2{
  font-size:38px;
  font-weight:500;
  margin:30px 0 10px;
}
.popup button{
width:100%;
margin-top:50px;
padding:10px 0;
background:#6fd649;
color:#fff;
border:0;
outline:none;
font-size:18px;
border-radius:4px;
cursor:pointer;
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.moon{
  background:url('../public/moon.png');
  height:600px;
}
.land{
  background:url('../public/land.png')
}



.banner{
  background: transparent linear-gradient(180deg, #C9784F 0%, #A06A7B 51%, #6C506F 100%) 0% 0% no-repeat padding-box;
border-radius: 40px;
opacity: 1;
}

@media only screen and (min-width: 300px) and  (max-width: 400px) {
.mobile{
  height:200px;
}
}
@media only screen and (min-width: 500px) and  (max-width: 600px) {
  .mobile{
    height:280px;
  }
}
@media only screen and (min-width: 800px) and  (max-width: 950px) {
  .mobile{
    height:400px;
  }
  
  }
